.Conditions .ConditionsContainer {
  background-color: rgba(165, 225, 238, 0.3);
  color: #333333;
  width: 450px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Conditions .ConditionsRight h2 {
  text-align: center;
  font-size: 40px;
}

.Conditions .ConditionsIcon {
  font-size: 80px;
  color: #a5e1ee;
}

.Conditions .MaxMinTemp {
  color: #737373;
}

.Conditions ul {
  list-style: none;
}
