.ForecastDay .ForecastDayContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  min-width: 450px;
  border: 1px solid #d8e2dc;
  border-radius: 25px;
  padding: 5px 0px 15px 0px;
}
.ForecastDay .ForecastDayContainer div p {
  font-size: 17px;
}
@media screen and (max-width: 700px) {
  .Time {
    width: 100%;
  }
}
