.Forecast {
  width: 100%;
}

.Forecast h3 {
  margin-left: 5px;
  margin-bottom: 5px;
}

.Forecast > p {
  font-size: 17px;
}

.Forecast > div {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
