.Map {
  width: 100%;
  max-width: 400px;
  text-align: center;
  background-color: var(--color-background-2);
}

.Map .Card {
  background-color: var(--color-background-1);
  border-radius: 25px;
  width: fit-content;
  padding: 10px 15px;
  margin: auto;
}

.Map .GoogleMap {
  max-width: 300px;
  border-radius: 25px;
}

.Map .RightText {
  margin-top: -75px;
}

@media screen and (max-width: 900px) {
  .Map {
    max-width: unset;
  }
}
