.Needs > div {
  border: 1px solid #d8e2dc;
  min-width: 230px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .Needs {
    width: 100%;
  }
}
