.Time {
  background-color: #a5e1ee;
  height: 240px;
  border-radius: 25px;
  padding: 5px 10px;
}

.Time p,
.Time h2 {
  margin-top: -3px;
  font-size: 40px;
  color: #50615b;
  margin-bottom: -14px;
  white-space: nowrap;
}

.Time img {
  margin-top: 0;
}

.Time .TimeAtCity {
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  .Time {
    width: 100%;
  }
}
